<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaConexion.Properties.Settings.cn" connectionString="Data Source=DESKTOP-6DTKT0K\KALUKALU;Initial Catalog=bd_ahorcado;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>